*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: AudiNormal;
	overflow: hidden;
}

#map-canvas-container {
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

#map-canvas {
	height: 100%;
	visibility: hidden;
}

.loading {
	background: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
}

.loadIcon {
	width: 100%;
	height: 100%;
	background-image: url(loading.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-animation-name: loadAnim;
	-webkit-animation-duration: 2s;
	-webkit-transition: 1s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loadAnim {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

#video {
	width: 100%;
	position: relative;
}

#top-bar {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #F00;
	position: absolute;
	top: 0;
}

#search-button {
	position: absolute;
	right: 12px;
	top: 12px;
	color: red;
	font-size: 25px;
}

#reset-query {
	position: absolute;
	right: 62px;
	top: 12px;
	color: #AAA;
	font-size: 25px;
	display: none;
}

#menu-button-container {
	-webkit-transition: 500ms;
	position: absolute;
	left: 12px;
	top: 12px;
}

#hamburger, #menu-close {
	color: red;
	font-size: 25px;
}

@font-face {
	font-family: AudiNormal;
	src: url(fonts/AudiTypeV03-ExtendedNormal.otf) format("opentype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: AudiBold;
	src: url(fonts/AudiTypeV03-ExtendedBold.otf) format("opentype");
	font-weight:normal;
	font-style:normal;
}

#menu-close {
	display: none;
}

#left-menu {
	height: 100%;
	width: 200px;
	background: #EDEDED;
	color: black;
	position: fixed;
	top: 0;
	left: -200px;
	-webkit-transition: 500ms;
	padding: 70px 0 0 20px;
	border-right: 1px solid #A5A5A5;
}

.show-menu #left-menu, .show-menu #menu-button-container {
	-webkit-transform: translateX(200px);
}

.show-menu #reset-query {
	display: none !important;
}

#search-text-container {
	width: 100%;
	padding: 0 50px 0 50px;
	margin-top: 10px;
}

#search-text {
	font-size: 1.2em;
	width: 100%;
	border: 0;
	background: #EDEDED;
	padding: 3px 10px;
	color: #A5A5A5;
}

.menu-option {
	margin: 10px 0;
}

.menu-option-text {
	margin: 10px;
	display: inline-block;
}

.menu-option-icon {
	width: 25px;
}

#app-logo {
	width: 100%;
	position: absolute;
	top: -56px;
	left: -2px;
}

.separator {
	width: 100%;
	height: 1px;
	background: #A5A5A5;
}

#center-button {
	position: fixed;
	bottom: 12px;
	right: 12px;
	padding: 7px;
	border-radius: 5px;
	background: white;
	border: 1px solid red;
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 25px;
	-webkit-transition: 500ms;
}

#directionsPanel-container {
	position: relative;
}

#linguetta {
	position: absolute;
	top: -40px;
	border-radius: 5px;
	background: white;
	border: 1px solid red;
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 25px;
	display: none;
	z-index: 1;
}

#navigation {
	position: absolute;
	right: 12px;
	width: 36px;
	height: 36px;
	text-align: center;
	font-size: 25px;
	z-index: 3;
	top: 3px;
	border-radius: 5px;
	background: white;
	border: 1px solid red;
}

#directionsPanel-container {
	-webkit-transition: 500ms;
	background: #FFF;
}

#directionsPanel {
	position: relative;
	z-index: 2;
}

.show-directions #directionsPanel-container, .show-directions #center-button {
	-webkit-transform: translateY(-400px);
}

.show-menu #directionsPanel-container {
	display: none;
}

#center-button > img {
	width: 32px;
	position: relative;
	top: -2px;
}

.popup {
}

.popup > * {
	display: inline-block;
}

.popup-0 {
	width: 40px;
	margin: 15px 5px;
	position: absolute;
}

.popup-1 {
	border-right: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
	padding: 0 15px;
	font-size: 25px;
	margin-left: 58px;
	margin-right: 16px;
}

.popup-2 {
	color: red;
	font-size: 55px;
	position: relative;
	top: -5px;
}

#right-panel {
	height: 100%;
	width: 100%;
	background: white;
	color: black;
	position: fixed;
	top: 50px;
	left: 100%;
	/*left: 0;*/
	-webkit-transition: 500ms;
	padding: 70px 0 0 20px;
	border-left: 1px solid #A5A5A5;
}

.show-right-panel #right-panel {
	-webkit-transform: translateX(-100%);
}

.right-panel-top-nav {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

#right-menu-button-container {
	-webkit-transition: 500ms;
	position: absolute;
	left: 12px;
	top: 12px;
}

#right-panel-close {
	color: red;
	font-size: 25px;
	display: inline-block;
}

.info-container {
	overflow: scroll;
	height: 100%;
	padding-left: 40px;
	position: absolute;
	top: 0;
	width: 100%;
}

.mock-pin-info {
	width:100%;
}