*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas-container {
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

#map-canvas {
	height: 100%;
	visibility: hidden;
}

.loading {
	background: #000;
	width: 100%;
	height: 100%;
	position: fixed;
}

.loadIcon {
	width: 100%;
	height: 100%;
	background-image: url(loading.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-animation-name: loadAnim;
	-webkit-animation-duration: 2s;
	-webkit-transition: 1s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loadAnim {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

#video {
	top: 10%;
	width: 100%;
}

#top-bar {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CCC;
	position: absolute;
	top: 0;
}

#top-bar-bg {
	background: url(audi_logo.jpg) no-repeat;
	background-position: 50% 50%;
	opacity: 50%;
}

#search-icon {
	position: absolute;
	right: 12px;
	top: 12px;
	color: red;
	font-size: 25px;
}

#hamburger {
	position: absolute;
	left: 12px;
	top: 12px;
	color: red;
	font-size: 25px;
}